.all-chat{
    background-color: #ECECEC;
    padding-bottom: 40px;
}

/* Основной контейнер чата */
.chat-container {
    display: flex;
    width: 1520px;
    height: 792px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
}

/* Боковая панель с пользователями */
.sidebar {
    width: 20%;
    border-right: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
}

/* Строка поиска */
.search-input {
    width: 100%;
    height: 32px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
    background-color: #ECECEC;
    border: none;
    color: #727272;
}
.search-input::placeholder{
    color: #727272;
}

/* Стили для списка пользователей */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    align-items: center;
    width: 280px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    padding-bottom: 16px;
    border-bottom: 1px solid #CFCFCF;
}

li:hover {
    background-color: #f0f0f0;
    border-radius: 10px;
}

/* Аватар пользователя */
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

/* Информация о пользователе */
.user-info {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.user-info-top{
    display: flex;
    justify-content: space-between;
}
.user-last-time-message{
    color: #CFCFCF;
    font-size: 12px;
    margin-bottom: 0;
}

.user-name {
    color: #0E142B;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
}

.user-last-message {
    color: #CFCFCF;
    font-size: 12px;
    margin-top: 6px;
    margin-bottom: 0;
}

/* Окно чата */
.chat-window {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #fff;
    position:relative;
}

.user-status p{
    font-size: 14px;
    color: #727272;
    margin-bottom: 0;
}
.user-status h2{
    font-size: 20px;
    font-weight: 600;
    color: #0E142B;
}
/* Заголовок чата */
.chat-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.chat-header img {
    margin-right: 10px;
}

.chat-header h2 {
    margin: 0;
    font-size: 18px;
}

/* Секция сообщений */
.chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    background-color: #fafafa;
    border-radius: 5px;

}

/* Сообщения */
.message {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    max-width: 70%;
    word-wrap: break-word;
}

.user-message {
    display: inline-block;
    background-color: #1CC41C;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px; /* Отступ снизу для разделения сообщений */
    float: right;
    clear: both; /* Сброс обтекания, чтобы начинать с новой строки */
    max-width: 60%; /* Ограничение по ширине для лучшего отображения */
}
.user-message p, .contact-message p{
    margin-bottom: 0;
}
.contact-message {
    display: inline-block;
    background-color: #ECECEC;
    color: #0E142B;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px; /* Отступ снизу для разделения сообщений */
    clear: both; /* Сброс обтекания, чтобы начинать с новой строки */
    max-width: 60%; /* Ограничение по ширине для лучшего отображения */
    float: left; /* Прижатие к правой стороне */
}

.message-time {
    font-size: 12px;
    color: #727272;
    text-align: right;
    margin-top: 5px;
}

/* Ввод сообщения и кнопки */
.chat-input {
    display: flex;
    align-items: center;
    border-top: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
}

.chat-input input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 10px;
}

/* Кнопки отправки сообщений, файлов и смайликов */
.chat-input button {
    padding: 10px;
    background-color: none;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 0;
}

.chat-input button:hover {
    background-color: #1CC41C;
}


/* Информация о заказе */
.order-info {
    width: 20%;
    padding: 10px;
    border-left: 1px solid #ccc;
    background-color: #f9f9f9;
}

/* Оформление информации о крайнем сроке */
.deadline {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}
/* Стили для эмодзи-пикера */
.emoji-picker {
    position: absolute;
    bottom: 60px; /* Расположение над полем ввода */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 200px; /* Ширина меню */
}
/* Стили для эмодзи-пикера */
.emoji-picker {
    position: absolute;
    bottom: 80px; /* Теперь она будет над полем ввода */
    right: 0px; /* Позиционирование справа от окна ввода */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 200px;
    z-index: 1;
}

.emoji {
    font-size: 24px;
    cursor: pointer;
}

.emoji:hover {
    transform: scale(1.2);
}
.all-messages{
    width: 1520px;
    margin: 0 auto;
    text-align: left;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
    padding-top:  30px;
}

