#review-item{
    margin-bottom: 0px;
}
#review-list-custo{
    padding-bottom: 20px;
    padding-top: 30px;
}
#customer-profile-container{
    padding-bottom: 0;
}


.container-accordions-ext-perf {
    width: 1520px;
    margin: 60px auto;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: auto;
    overflow: visible; /* Убедитесь, что overflow не скрывает содержимое */
}
.section-header-ext-perf {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    padding-top: 4px !important;
    font-weight: bold;
    font-size: 24px;
    color: #0E142B;
    cursor: pointer;
  }
  .section-header-ext-perf span{
    font-size: 18px;
    font-weight: 500;
    color: #1CC41C;
    padding-bottom: 24px;
    text-decoration: underline;
  }

.section-ext-perf {
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
}

.section-ext-perf h2 {
    font-size: 24px;
    padding: 24px;
    padding-top: 4px !important;
    font-weight: bold;
    color: #0E142B;
    margin-bottom: 10px;
}

.section-ext-perf p {
    font-size: 16px;
    margin-left: 24px;
    color: #505050;
    line-height: 1.5;
    white-space: pre-line; /* Чтобы переносы сохранялись */
    padding: 10px;
    border: 1px solid #ECECEC;
    border-radius: 8px;
}
.button-container-ext-perf {
    display: flex;
    justify-content: center; /* Центрирование кнопки по горизонтали */
    margin-top: 10px;
}

textarea.edit-area-ext-perf {
    width: 100%;
    height: 120px;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #CFCFCF;
    resize: vertical;
}

.edit-button-ext-perf {
    background-color: #1CC41C;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 24px;
}

.edit-button-ext-perf:hover {
    background-color: #218838;
}
.cust-pof-top {
    display: grid;
    grid-template-rows: auto auto auto; /* Три строки: для аватара, имени и имени пользователя */
    justify-items: center; /* Центрируем элементы по горизонтали */
    row-gap: 10px; /* Задаем расстояние между строками */
    padding: 20px; /* Добавляем внутренние отступы */
    min-height: auto; /* Автоматическая минимальная высота */
    height: auto; /* Высота по содержимому */
    overflow: visible; /* Убираем любые ограничения по переполнению */
    margin-left: 30px;
    padding-bottom: 30px;
  }
  
  
  .cust-pof-top p {
    font-size: 14px; /* Можно уменьшить размер для @ имени */
    color: gray; /* Пример цвета для никнейма */
    margin-left: 0;
  }
  .cust-pof-top h2 {
    font-size: 24px; /* Можно уменьшить размер для @ имени */
    font-weight: 600;
    color: #0E142B; /* Пример цвета для никнейма */
    margin-bottom: 0;
  }

  .customer-profile-bottom{
    width: 1520px;
    display: flex;
    margin: 0 auto;
  }
  



  .location-join-info {
    display: flex;
    flex-direction: column; /* Вертикальное расположение элементов */
    margin-top: 20px; /* Отступ сверху */
    margin-bottom: 30px;
  }
  
  .location-info,
  .join-date-info {
    display: flex;
    align-items: center; /* Выравнивание по центру по вертикали */
    justify-content: space-between;
    margin-bottom: 5px; /* Отступ между строками */
  }
  .location-info span,
  .join-date-info span {
    font-size: 18px;
    font-weight: 600;
    color: #727272;
  }
  
  .info-icon {
    width: 24px !important; /* Размер иконки */
    height: 24px !important;
    margin-right: 8px; /* Отступ между иконкой и текстом */
  }
  
  .location-info input,
  .join-date-info input {
    width: 120px;
    margin-left: 8px; /* Отступ между текстом/иконкой и полем ввода */
    padding: 5px; /* Внутренний отступ в полях ввода */
    font-size: 14px; /* Размер текста в полях ввода */
  }
  

  .location-join-info-start{
    display: flex;
    align-items: center;
  }
  .location-join-info-start p{
    font-size: 18px;
    color: #727272;
  }
  












  
  .customer-profile-card-extend {
    width: 560px;
    padding: 48px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .avatar-extend {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #0E142B;
    margin-left: 162px;
  }
  
  .cust-pof-top-extend input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    font-size: 16px;
  }
  .cust-pof-top-extend {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
  }
  
  .info-item-extend {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    gap: 16px;
  }
  .info-item-extend p{
    margin-bottom: 0;
  }
  .location-user-info-extend{
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .location-user-info-extend p{
    font-size: 18px;
    color: #727272;
    margin-bottom: 0;
  }
  .location-user-info-extend img{
    width: 24px;
    height: 24px;
  }
  
  .edit-button-extend, .save-button-extend {
    width: 464px;
    background-color: #ffffff;
    color: #1CC41C;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
    border: 2px solid #1CC41C;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin-top: 27px;
    margin-bottom: 10px;
  }
  
  .edit-button-extend:hover, .save-button-extend:hover {
    background-color: #218838;
  }
  .prof-up-btn{
    display: flex;
    flex-direction: column;
  }
  .prof-up-btn h2{
    font-size: 24px;
    font-weight: 600;
    color: #0E142B;
  }
  .prof-up-btn p{
    font-size: 18px;
    color: #727272;
    margin-bottom: 0;
  }
  .prof-up-btn img{
    width: 140px;
    height: 140px;
  }
  

